@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
	--Dark-cyan: hsl(185, 75%, 39%);
	--Very-dark-desaturated-blue: hsl(229, 23%, 23%);
	--Dark-grayish-blue: hsl(227, 10%, 46%);
	--Dark-gray: hsl(0, 0%, 59%)
}

html {
	font-size: 18px;
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: var(--Dark-cyan);
	font-family: 'Kumbh Sans', sans-serif;
	background-image: url(../images/bg-pattern-top.svg), url('../images/bg-pattern-bottom.svg');
	background-position: right 50vw bottom 50vh, left 50vw top 50vh ;
	background-repeat: no-repeat;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.card {
	width: 330px;
	background-color: white;
	border-radius: 18px;
	overflow: hidden;
}

.card__body {
	display: flex;
	flex-direction: column;
	margin-top: -56px;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid lightgray;
}

.card__body img {
	width: 100px;
	border-radius: 50%;
	border: 6px solid white;
	background-color: white;
}

.card__body-text {
	text-align: center;
	margin: 5px;
}

.card__body-text-title {
	font-size: 1rem;
	font-weight: 700;
}

.card__body-text-title span {
	color: var(--Dark-gray);
	margin-left: 5px;
	font-weight: 300;
}

.card__body-text p {
	color: var(--Dark-gray);
	font-size: 1rem;
	font-weight: 300;
	margin-top: -5px;
}

.card__footer {
	display: flex;
	justify-content: space-around;
	text-align: center;
	padding-bottom: 15px;
}

.social {
	width: 30%;
}

.social p {
	font-size: .7rem;
	margin-top: -18px;
	color: var(--Dark-gray);
	font-weight: 300;
}